body {
  background-color: darkolivegreen;
  position: absolute;
}
.keys {
  padding: 20px;
  width: fit-content;
  height: fit-content;
  display: inline-flex;
}
.key {
  border: 2px solid black;
  height: 75px;
  width: 75px;
  margin: 25px;
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 15px;
  transition: all 0.07s;
  box-shadow: 0 0 5px black;
}

.key span {
  margin-top: 10px;
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  color: gold;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}
